.search-form {
  display: flex;
  .full-width {
    width: 100%;
  }
}

.no-results {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  height: 100%;
}

.full-table-container {
  display: flex;
  position: relative;
  height: 80vh;
  flex-direction: column;

  .table-wrapper {
    overflow: auto;
  }

  .spinner-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
